/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  height: 90vh;
  z-index: 0;
  align-items: center;
  justify-content: center;
  background: #1A2238;
}

.welcome-1 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 20px 20px;
  font-size: 58px;
  width: 90%;
  color: #F4DB7D;
}

.welcome-2 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 20px 20px;
  font-size: 36px;
  width: 90%;
  text-align: center;
  color: white;
}

.welcome-3-container {
  margin:auto;
  align-items: center;
}

.welcome-3 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: left;
  padding: 20px 20px;
  font-size: 26px;
  width: 100%;
  float: center;
  /* color: white; */
  color: #F4DB7D;
}


.image{
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:center;
  height: 100%;
  display:flex;
  position:relative;
  padding-bottom: 50px;
}

img{
  height:max-content;
  object-fit: contain;
  min-height: 30%;
  /* height: 45%; */
}

.swiper{
  z-index: 0;
  width: 100%;
  text-align: center;
}

.card{
  position: relative;
  align-items: center;
  align-content: center;
  height: 90vh;
  bottom: 50px;
  /* background: black; */
}

.card::before{
  content: "";
  /* position: relative; */
  /* height: 10%; */
  background: #1A2238;
  margin: auto;
  align-items: center;
  align-content: center;
}

.media-icons{
  position: absolute;
  top: 10px;
  align-items: center;
}

.name-profession{
  position:absolute;
  bottom: 20%;
  font-size:24px;
  font-weight: 200;
  color: white;
  text-align: center;
  width:100%;
  text-align: center;
  opacity: 0.85;
}


.swiper-pagination{
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
}

.swiper-pagination-bullet{
  /* height: 10px; */
  padding: 15px;
  border-radius: 50px;
  background: #c4512e;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #FF6A3D;
  transition: all 0.3s ease;
  top: 40%;
  --swiper-navigation-size: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 200px;
  padding-bottom: 200px;
  /* background-color: red; */
}

.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #FF6A3D;
}

/* #region */  /******** MENU *******/
#menuToggle
{
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 75px;
  height: 65px;
  position: absolute;
  top: -12px;
  left: -10px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 600px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ffffff;
  opacity: 0.95;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-size: 3.5em;
  /* opacity: 0.95; */
}

#menu li
{
  padding: 10px 0;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}
/* #endregion */

/* #region */  /******** TABLE *******/
table{
	min-width: 100px !important;
	width: 50%;
  align-content: center;
  margin: auto;
  padding-top: 60px; 
  border: none;
  text-align: center;
}

th {
  border: none;
  padding: 10px 20px;
  font-size: 38px;
  color: #F4DB7D;
  background-color: #10131b;
  text-align: center;
}

td{
  border: none;
  padding: 10px 20px;
  font-size: 28px;
  color: white;
}

tr:nth-child(odd) {
	background-color: #22293b;
}

tr:nth-child(even) {
	background-color: #1A2238;
}
/* #endregion */



/* #region */  /******** MENU *******/

.gear {
  position: absolute;
  top: -135px;
  left: 50px;
  width: 3em;
  filter: brightness(165%);
  z-index: 0;
}

#menu2Toggle
{
  display: inline-block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menu2Toggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menu2Toggle a:hover
{
  color: tomato;
}


#menu2Toggle input
{
  display: block;
  width: 75px;
  height: 65px;
  position: absolute;
  top: -12px;
  left: -10px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menu2Toggle span
{
  display: block;
  width: 50px;
  height: 5px;
  margin-bottom: 10px;
  position: relative;
  
  /* background: #cdcdcd; */
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menu2Toggle span:first-child
{
  transform-origin: 0% 0%;
}

#menu2Toggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menu2Toggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menu2Toggle input:checked ~ .gear
{
  opacity: 1;
  transform: rotate(180deg);
  /* background: #232323; */
}

#menu2Toggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menu2Toggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu2
{
  position: absolute;
  width: 600px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  text-align: right;
  background: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  opacity: 0.95;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  font-size: 3.5em;
  /* opacity: 0.95; */
}

#menu2 li
{
  padding: 10px 0;
}

#menu2Toggle input:checked ~ ul
{
  transform: none;
}
/* #endregion */

/* #region */  /******** STOP WATCH *******/
.canvas {
  width: 350px;
  height: 200;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%) ;
      -ms-transform: translate(-50%,-50%) ;
          transform: translate(-50%,-50%) ;
          z-index: 2;
}

.canvas>.center {
  position: absolute;
  width: 350px;
  height: 200px;
  top: 20px;
  left: 50%;
  margin: -175px 0 0 -175px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* background-color: slategray; */
}

.canvas>.center>.clock {
  position: absolute;
  border-radius: 3px;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 15px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.canvas>.center>.clock>.dots {
  font-size: 2em;
  font-weight: 900;
  margin-top: -2px;
}

.canvas>.center>.clock>.hours:after,.canvas>.center>.clock>.hours:before,.canvas>.center>.clock>.minutes:before,.canvas>.center>.clock>.minutes:after,.canvas>.center>.clock>.hours:before,.canvas>.center>.clock>.seconds:after,.canvas>.center>.clock>.seconds:before {
  content: '0';
  font-size: 2em;
  font-weight: 900;
  -webkit-animation: var(--name) var(--duration) steps(1) infinite;
          animation: var(--name) var(--duration) steps(1) infinite;
}

.canvas>.center>.clock>.hours:after {
  --name:right; --duration:2160000s; }

.canvas>.center>.clock>.hours:before {
  --name:left; --duration:21600000s; }

.canvas>.center>.clock>.minutes:after {
  --name:right; --duration:600s; }

.canvas>.center>.clock>.minutes:before {
  --name:left; --duration:3600s; }

.canvas>.center>.clock>.seconds:after {
  --name:right; --duration:10s; }

.canvas>.center>.clock>.seconds:before {
  --name:left; --duration:60s; }

@-webkit-keyframes right {
  0% {
      content: '0';
  }

  10% {
      content: '1';
  }

  20% {
      content: '2';
  }

  30% {
      content: '3';
  }

  40% {
      content: '4';
  }

  50% {
      content: '5';
  }

  60% {
      content: '6';
  }

  70% {
      content: '7';
  }

  80% {
      content: '8';
  }

  90% {
      content: '9';
  }
}

@keyframes right {
  0% {
      content: '0';
  }

  10% {
      content: '1';
  }

  20% {
      content: '2';
  }

  30% {
      content: '3';
  }

  40% {
      content: '4';
  }

  50% {
      content: '5';
  }

  60% {
      content: '6';
  }

  70% {
      content: '7';
  }

  80% {
      content: '8';
  }

  90% {
      content: '9';
  }
}

@-webkit-keyframes left {
  0% {
      content: '0';
  }

  16.666666666666668% {
      content: '1';
  }

  33.333333333333336% {
      content: '2';
  }

  50% {
      content: '3';
  }

  66.66666666666667% {
      content: '4';
  }

  83.33333333333334% {
      content: '5';
  }
}

@keyframes left {
  0% {
      content: '0';
  }

  16.666666666666668% {
      content: '1';
  }

  33.333333333333336% {
      content: '2';
  }

  50% {
      content: '3';
  }

  66.66666666666667% {
      content: '4';
  }

  83.33333333333334% {
      content: '5';
  }
}

#switch,#reset {
  display: none;
}

.canvas>.center>.pause-play-icon {
  color: #7a7a7a;
  position: absolute;
  border: 5px solid ;
  border-radius: 50%;
  left: 35%;
  bottom: 22%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  z-index: 3;
}

.canvas>.center>.reset-icon {
  color: #414141;
  position: absolute;
  border: 5px solid ;
  border-radius: 50%;
  right: 35%;
  bottom: 22%;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 3;
}

.canvas>.center>.reset-icon:before {
  content: '';
  color: inherit;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6.5px;
  margin-top: -6.5px;
  border: 7px solid ;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
  opacity: 1;
}

.canvas>.center>.pause-play-icon:hover,.canvas>.center>.reset-icon:hover{
  color: rgb(77, 77, 77);
}

.canvas>.center>.pause-play-icon:active,.canvas>.center>.reset-icon:active {
  color: rgb(40, 40, 40);
}

.canvas>.center>.pause-play-icon:before {
  content: '';
  color: inherit;
  position: absolute;
  height: 13px;
  width: 10px;
  left: 50%;
  top: 50%;
  margin-left: -5px;
  margin-top: -6.5px;
  border: 4px solid ;
  border-top: none;
  border-bottom: none;
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
  opacity: 1;
}

.canvas>.center>.pause-play-icon:after {
  content: '';
  color: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9.5px;
  margin-left: -3.5px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  border: 10px solid ;
  border-top-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
  transition: opacity 1.5s;
  opacity: 0;
}

#switch:checked ~ .pause-play-icon:before {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

#switch:checked ~ .pause-play-icon:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

#switch:checked ~ .clock>.hours:before, #switch:checked ~ .clock>.hours:after, #switch:checked ~ .clock>.minutes:before, #switch:checked ~ .clock>.minutes:after, #switch:checked ~ .clock>.seconds:before, #switch:checked ~ .clock>.seconds:after {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#reset:checked ~ .clock>.hours:after {
  --name:reset-right; 
  --duration:2160000s; 
}

#reset:checked ~ .clock>.hours:before {
  --name:reset-left; 
  --duration:21600000s; 
}

#reset:checked ~ .clock>.minutes:after {
  --name:reset-right; 
  --duration:600s; 
}

#reset:checked ~ .clock>.minutes:before {
  --name:reset-left; 
  --duration:3600s; 
}

#reset:checked ~ .clock>.seconds:after {
  --name:reset-right; 
  --duration:10s; 
}

#reset:checked ~ .clock>.seconds:before {
  --name:reset-left; 
  --duration:60s; 
}

@-webkit-keyframes reset-right {
  0% {
      content: '0';
  }

  10% {
      content: '1';
  }

  20% {
      content: '2';
  }

  30% {
      content: '3';
  }

  40% {
      content: '4';
  }

  50% {
      content: '5';
  }

  60% {
      content: '6';
  }

  70% {
      content: '7';
  }

  80% {
      content: '8';
  }

  90% {
      content: '9';
  }
}

@keyframes reset-right {
  0% {
      content: '0';
  }

  10% {
      content: '1';
  }

  20% {
      content: '2';
  }

  30% {
      content: '3';
  }

  40% {
      content: '4';
  }

  50% {
      content: '5';
  }

  60% {
      content: '6';
  }

  70% {
      content: '7';
  }

  80% {
      content: '8';
  }

  90% {
      content: '9';
  }
}

@-webkit-keyframes reset-left {
  0% {
      content: '0';
  }

  16.666666666666668% {
      content: '1';
  }

  33.333333333333336% {
      content: '2';
  }

  50% {
      content: '3';
  }

  66.66666666666667% {
      content: '4';
  }

  83.33333333333334% {
      content: '5';
  }
}

@keyframes reset-left {
  0% {
      content: '0';
  }

  16.666666666666668% {
      content: '1';
  }

  33.333333333333336% {
      content: '2';
  }

  50% {
      content: '3';
  }

  66.66666666666667% {
      content: '4';
  }

  83.33333333333334% {
      content: '5';
  }
}
/* #endregion */