/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1A2238;
}

.grid-container {
  display: grid;
  height: 60%;
  align-content: center;
  grid-template-columns: auto;
  gap: 10px;
  background-color: #1A2238;
  padding: 10px;
}

.welcome-1 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 20px 20px;
  font-size: 58px;
  width: 100%;
  color: #F4DB7D;
}

.welcome-2 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 20px 20px;
  font-size: 36px;
  width: 100%;
  text-align: center;
  color: white;
}

.welcome-3 {
  background-color: rgba(255, 255, 255, 0.0);
  text-align: center;
  padding: 20px 20px;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
  color: white;
}


/***********************     NAV BAR   **************************/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1A2238;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 30px;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #9DAAF2;
}

.active {
  background-color: #FF6a3d;
}

/*************************   TABLE   ***********************************/
table{
	min-width: 100px !important;
	width: 50%;
  align-content: center;
  margin: auto;
  padding-top: 160px; 
  border: none;
}

th {
  border: none;
  padding: 10px 20px;
  font-size: 38px;
  color: #F4DB7D;
  background-color: #10131b;
}

td{
  border: none;
  padding: 10px 20px;
  font-size: 28px;
  color: white;
}

tr:nth-child(odd) {
	background-color: #22293b;
}

tr:nth-child(even) {
	background-color: #1A2238;
}