<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
<body>
<!--  Menu Button  -->
<div>
<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    <ul id="menu">
      <a href="{{ url_for('Index') }}">Home</a><br>
      <a href="{{ url_for('memory_palace') }}">Memory Palace</a><br>
      <a href="{{ url_for('PAO_system') }}">PAO System</a><br>
      <a href="{{ url_for('card_PAO_memorization') }}">Single Card Mem</a><br>
      <a href="{{ url_for('deck_memorization') }}">Full Deck Mem</a><br>
      <a href="{{ url_for('Index') }}">Settings</a>
    </ul>
  </div>
</nav>
</div>
<!--  Settings Button  -->
<div>
  <nav role="navigation">
    <div id="menu2Toggle">
      <input type="checkbox" />
      <!-- <img class="gear" src="{{url_for('static', filename='img/gear.jpg')}}" /> -->
      <ul id="menu2">
        <a href="{{ url_for('Index') }}">Home</a><br>
        <a href="{{ url_for('memory_palace') }}">Memory Palace</a><br>
        <a href="{{ url_for('PAO_system') }}">PAO System</a><br>
        <a href="{{ url_for('card_PAO_memorization') }}">Single Card Mem</a><br>
        <a href="{{ url_for('deck_memorization') }}">Full Deck Mem</a><br>
        <a href="{{ url_for('Index') }}">Settings</a>
      </ul>
    </div>
  </nav>
  </div>

<!--  Carousel Cards  -->
  <div class="swiper mySwiper container">
    <div class="swiper-wrapper content grid-middle">

      {% for row,per,act,obj in data %}
      <div class="swiper-slide card">
          <div class="image">
            <img src="{{ row }}">
            <div class="name-profession">
              <div class="name-profession-toggle">
                <h3 class="pao">{{ per }}</h3>
                <h3 class="pao">{{ act }}</h3>
                <h3 class="pao">{{ obj }}</h3>
              </div>
            </div>
          </div>
      </div>
      {% endfor %}

    </div>
  </div>
  
  <!--  Carousel Buttons  -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>

  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper(".mySwiper", {
      slidesPerView: 1,
      spaceBetween: 30,
      slidesPerGroup: 1,
      loop: true,
      loopFillGroupWithBlank: true,
      keyboard: {
        enabled: true,
      },
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
    });

if (keyboard === "true") {
   arrowKeys();
}
  </script>

</body>
</html>
