<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>

    <link rel="stylesheet" href="{{url_for('static',filename='css/style_main.css')}}">
</head>
<body>

  <div class='header'>
  <ul>
    <li><a href="{{ url_for('Index') }}">Home</a></li>
    <li><a href="{{ url_for('memory_palace') }}">Memory Palace</a></li>
    <li><a href="{{ url_for('PAO_system') }}">PAO System</a></li>
    <li><a href="{{ url_for('card_PAO_memorization') }}">Single Card PAO</a></li>
    <li><a href="{{ url_for('deck_memorization') }}">Deck Memorization</a></li>
    <li><a href="{{ url_for('Index') }}">About</a></li>
  </ul>
</div>

<div class='grid-container'>
  <div class='welcome-1'>How to Memorize a Deck of Cards</div>
  <div class='welcome-2'>Using simple techniques, learn to memorize a full deck of cards in under two minutes. This website will take you step-by-step how this can be accomplished by anyone!</div>

  <div class='welcome-3-container'>
    <div class='welcome-3'>
      1. Choose a mind palace<br>
      2. Create a system images<br>
      3. Practice!</div>
  </div>
</div>
</body>
</html>
